absl-py
beautifulsoup4
blinker
Brotli 
certifi 
charset-normalizer
click
colorama
Cython
filelock 
Flask
gdown
gmpy2
grpcio
idna 
importlib_metadata
itsdangerous
Jinja2 
loguru
Markdown
MarkupSafe
mkl-fft
mkl-random 
mkl-service
mpmath 
networkx
numpy 
opencv-python
pillow 
protobuf
PySocks 
PyYAML
requests
scipy
six 
soupsieve
sympy 
tensorboard
tensorboard-data-server
torch
torchvision
tqdm
typing_extensions 
urllib3 
Werkzeug
win-inet-pton
win32-setctim
wincertstore
yacs
zipp
Cython
numpy
scipy